.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-grow: 3;
  margin:60px auto;
}

.item{
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
}
.item img{
  height: 300px;
  width:300px
}

.item-detail{
  margin:30px auto;
  display: flex;
  justify-content: space-around;

}

.item-detail img {
  height: 600px;
  width:600px;
}
